---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: site-monitor-operator
  namespace: yunwei
spec:
  replicas: 1
  selector:
    matchLabels:
      name: site-monitor-operator
  template:
    metadata:
      labels:
        name: site-monitor-operator
    spec:
      serviceAccountName: site-monitor-operator
      containers:
        - name: site-monitor-operator
          image: harbor.haodai.net/ops/site-monitor-operator:v1
          command:
          - /app/site-monitor-operator
          - --access-key
          - KEY
          - --access-secret
          - SECRET
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              value: ""
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "site-monitor-operator"
